<div class="row mb-4">
    <div class="col-md-3">
        <div class="stats-card">
            <div class="d-flex justify-content-between">
                <div>
                    <h6 class="mb-0">Total Perangkat</h6>
                    <h3 id="totalDevices">-</h3>
                </div>
                <i class="fas fa-microchip fa-2x opacity-75"></i>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="stats-card">
            <div class="d-flex justify-content-between">
                <div>
                    <h6 class="mb-0">Total Pembacaan</h6>
                    <h3 id="totalReadings">-</h3>
                </div>
                <i class="fas fa-database fa-2x opacity-75"></i>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="stats-card">
            <div class="d-flex justify-content-between">
                <div>
                    <h6 class="mb-0">Sensor Aktif</h6>
                    <h3 id="activeSensors">-</h3>
                </div>
                <i class="fas fa-sensor fa-2x opacity-75"></i>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="stats-card">
            <div class="d-flex justify-content-between">
                <div>
                    <h6 class="mb-0">Status Sistem</h6>
                    <h3 id="systemStatus">Online</h3>
                </div>
                <i class="fas fa-wifi fa-2x opacity-75"></i>
            </div>
        </div>
    </div>
</div> 